<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据库实时报告</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<div class='table-class'>

    <h3>数据库实时报告</h3>

    <table width='400'>
        <tr style='background-color: #d7d7d7;'>
            <td width='600'>数据表</td>
            <td width='500'>记录数</td>
            <td width='500'>说明</td>
        </tr>

        #foreach($m in $map.entrySet())
            <tr>
                <td style="border:1px solid #B0B0B0">$m.key</td>
                <td style="border:1px solid #B0B0B0">$m.value</td>
                <td style="border:1px solid #B0B0B0">正常</td>
            </tr>
        #end

    </table>
</div>

</body>

</html>